// $primary_color: #222831;
// $primary-dark_color: darken( $primary_color, 10% );
// $text_color: #eeeeee;
// $accent_color: #d65a31;
// $accent-dark_color:  #393e46;

// Blues and reds
// $primary_color: #240041;
// $primary-dark_color: darken($primary_color, 2%);
// $text_color: #fff;
// $accent_color: #ff4057;
// $accent-dark_color:  #900048;

// Default Colors
:root {
    --color-primary: #2B0059;
    --color-primaryDark: #230046;
    --color-text: #fff;
    --color-accent: #0ce9c1;
    --color-accentDark: #080010;
}

// Pink and Grey
// :root {
//     --color-primary: #222831;
//     --color-primaryDark: #230046;
//     --color-text: #fff;
//     --color-accent: #ff4057;
//     --color-accentDark: #15191f;
// }



* {
    margin: 0;
    padding: 0;
    cursor: none;
}

/* to remove the top and left whitespace */
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* just to be sure these are full screen*/
canvas {
    display: block;
}

/* To remove the scrollbars */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'phosphatesolid';
    src: url('../fonts/phosphate-webfont.eot');
    src: url('../fonts/phosphate-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/phosphate-webfont.woff2') format('woff2'),
        url('../fonts/phosphate-webfont.woff') format('woff'),
        url('../fonts/phosphate-webfont.ttf') format('truetype'),
        url('../fonts/phosphate-webfont.svg#phosphatesolid') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*  MAIN CODE */
body {
    background: var(--color-primary);
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: var(--color-text);
    text-decoration: none;
}


.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--color-primary);
    /* Old browsers */
    background: -moz-linear-gradient(bottom, #ffffff 0%, #ffffff 0%, var(--color-primaryDark) 0%, var(--color-primaryDark) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, #ffffff 0%, #ffffff 0%, var(--color-primaryDark) 0%, var(--color-primaryDark) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #ffffff 0%, #ffffff 0%, var(--color-primaryDark) 0%, var(--color-primaryDark) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='var(--color-primaryDark)',GradientType=0 ); /* IE6-9 */
    transform: rotate(0deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    will-change: transform, top, left;
    transition: transform 450ms ease-in-out, left 450ms ease-in-out, top 450ms ease-in-out;
    line-height: 100%;

    &--loaded:after {
        display: none !important;
    }

    &:after {
        display: block;
        content: "L O A D I N G";
        color: red;
        font-weight: 100;
        font-size: 0.1em;
        margin-top: -81px;
        letter-spacing: 8px;
    }

    // &.fadeout {
    //     opacity: 0;
    // }
}


.home {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    perspective: 40px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    will-change: transform, rotateX, rotateY;
    transition: transform 0.5s ease-in-out, rotateX 0.5s ease-in-out, rotateY 0.5s ease-in-out;
    opacity: 0;

    &--not-loaded {
        pointer-events: none;
    }

    &--loaded {
        opacity: 1;
    }
}

.home__firstName,
.home__lastName,
.loader {
    display: block;
    text-align: center;
    font-family: 'phosphatesolid', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 10em;
    padding: 0;
    margin: 0;
    font-weight: normal;
    perspective: 40px;
}

.home__firstName,
.home__lastName {
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
    line-height: 91px;
}


.home__firstName {
    transform: translateZ(10px);
    color: var(--color-accent);
}

/* video */
.videoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cursor {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-radius: 50px;
    pointer-events: none;
    z-index: 2000;
    will-change: transform;

    &__outer {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        top: 0;
        left: 0;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 50px;
        pointer-events: none;
    }

    &__inner {
        pointer-events: none;
        display: block;
        position: relative;
        width: 10px;
        height: 10px;
        background: #fff;
        top: 20px;
        left: 20px;
        border-radius: 20px;
    }
}



.navigation {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1000;

    &__top,
    &__mid,
    &__bottom {
        display: block;
        background: #ffffff;
        height: 4px;
        width: 40px;
        margin-bottom: 8px;
        opacity: 1;
        transform-origin: center left;
        transition: all 0.3s ease-in-out;
    }

    &__mid {
        width: 35px;
    }

    &__bottom {
        width: 30px;
    }

    &:hover {
        .navigation__top {
            transform: scaleX(0.5);
        }

        .navigation__mid {
            transform: scaleX(1.1);
        }

        .navigation__bottom {
            width: 40px;
            transform: scaleX(0.5);
        }
    }

    &.open {
        .navigation__top {
            transform: rotate(45deg);
        }

        .navigation__mid {
            opacity: 0;
            transform: translateX(20px);
        }

        .navigation__bottom {
            width: auto;
            transform: translateY(5px) rotate(-45deg);
        }
    }

    &-modal {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: var(--color-accentDark);
        transition: all 300ms ease-in-out;
        transform: translateX(0%);
    
        &.hide {
            transform: translateX(-100%);
        }
    
        & nav {
            display: flex;
            height: 100vh;
            width: 100vw;
    
            ul {
                display: flex;
                width: 100vw;
                flex-direction: column;
                justify-content: center;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-self: center;
                align-items: center;
    
                li {
                    flex: 1;
    
                    a {
                        position: relative;
                        text-transform: uppercase;
                        font-family: 'Raleway', sans-serif;
                        font-weight: 800;
                        font-size: 8em;
                        line-height: 2em;
                        border-bottom: 30px solid rgba(0, 0, 0, 0);
    
                        &.active {
                            color: var(--color-accent);
    
                            &:before {
                                border-left-color: var(--color-text);
                            }
    
                            &:after {
                                border-bottom-color: var(--color-text);
                            }
                        }
    
                        &:hover:after {
                            width: 110%;
                        }
    
                        &:hover:before {
                            right: -30px;
                        }
    
                        &:before {
                            display: block;
                            position: absolute;
                            content: "";
                            top: 45px;
                            right: 105%;
                            width: 0;
                            height: 0;
                            border-top: 30px solid transparent;
                            border-bottom: 30px solid transparent;
                            border-left: 30px solid var(--color-accent);
                            transition: all 300ms ease-in-out;
                        }
    
                        &:after {
                            display: block;
                            content: "";
                            position: absolute;
                            top: 60px;
                            left: -10%;
                            width: 0;
                            transition: all 300ms ease-in-out;
                            border-bottom: 30px solid var(--color-accent);
                        }
                    }
                }
            }
        }
    }
}